:root {
  --background-color: #f1f5f9;
  --text-color: #333;
  --accent-color: #f1f5f9;
  --max-width: 80ch;
  --border-radius: 0.5rem;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles */
html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  tab-size: 4;
}

body {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1rem;
  width: 100%;
}

/* Typography */
h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

a {
  text-decoration: underline;
}


/* Layout components */
.content-image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.markdown-content {
  :link { color: #0000FF; }
  :visited { color: #551A8B; }
  flex: 1;
}

.markdown-content p {
  margin-bottom: 1em;
  white-space: pre-line;
}

/* Updated styles for ordered lists */
.markdown-content ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1.5em;
  margin-bottom: 1em;
  padding-left: 1em;
}

.markdown-content ul li {
  display: list-item;
  margin-bottom: 0.5em;
}

.headshot-container {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.headshot-container img {
  border-radius: var(--border-radius);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  width: auto;
}

/* Navigation */
.nav-links {
  background-color: var(--background-color);
  display: none;
  right: 1rem; /* Align to the right */
  top: 5rem;
  width: auto; /* Adjusted to auto width */
  position: absolute; /* Added to position the menu */
}

.nav-links a {
  display: block;
  font-size: 1rem;
  text-align: right;
  padding: 10px 15px; /* Added padding for better clickability */
}

.nav-links a:hover,
.nav-links a:focus {
  text-decoration: underline;
}

.expanded {
  display: unset;
}

.hamburger {
  cursor: pointer;
  padding-right: 10px;
  position: absolute; /* Position the hamburger absolutely */
  right: 1rem; /* Align to the right */
  top: 1rem; /* Adjust top position as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

.hamburger .line {
  background-color: var(--text-color);
  display: block;
  height: 4px;
  margin-bottom: 5px;
  width: 30px;
}

/* Footer */
.footer-links {
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
  text-decoration: underline;
}

.footer-links a {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}

/* Media Queries */
@media screen and (min-width: 636px) {
  .nav-links {
    background: none;
    display: block;
    position: static;
    text-align: right;
    width: auto;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .content-image-container {
    align-items: center;
    flex-direction: row;
  }

  .markdown-content {
    padding-right: 2rem;
  }
}
