---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
<h2>Ged Lawrenson - Problem Solver, Senior Software Engineer</h2>
<p>Hello, I'm Ged! I'm a professional software engineer, primarily focussed on Python development and Cyber Security.</p>
<p>When I'm not working, I'm usually outdoors and keeping active.</p>
<p>I use this site to keep my meagre front-end skills up to date. Get in touch if you'd like to connect!</p>

</BaseLayout>
