---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const homeContent = await getEntry('home', 'home');
const { Content } = await homeContent.render();
---

<BaseLayout>
  <div class="content-image-container">
    <div class="markdown-content">
      <Content />
    </div>
    <div class="headshot-container">
      <img src="/headshot.webp" alt="My Headshot"/>
    </div>
  </div>
</BaseLayout>
