---
const username = "gedlawrenson"
---
<footer class="footer-links">
    <a href={`https://www.linkedin.com/in/${username}`}>LinkedIn</a><a href="https://github.com/glawr0/">GitHub</a><a href="/feed.xml">RSS</a>
</footer>