---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ActivityList from '../../components/ActivityList.astro';

const pageTitle = "Workouts";
---

<BaseLayout pageTitle={pageTitle}>
    <section aria-labelledby="recent-workouts-heading">
        <h1 id="recent-workouts-heading">Recent Workouts</h1>
        <ActivityList/>
    </section>
</BaseLayout>