---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const pageTitle = "Links";
const allLinks = await getCollection('links');
const links = allLinks[0].data.links;
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <p>Here are some things I've been reading lately:</p>
    <ul>
        {links.map((link) => (
            <li>
                * <a href={link.url} target="_blank" rel="noopener noreferrer">
                    {link.title}
                </a>
            </li>
        ))}
    </ul>
</BaseLayout>